label{
    font-weight: bold;
}

input{
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    height: 38px;
    width: 240px;
    font-weight: bold;
    border: 1.8px solid #000000;
    margin-top: 6px;
    margin-left: -4px;
}

button{
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    height: 40px;
    width: 90px;
    background-color: #00594c;
    color: white;
    font-weight: bolder;
    font-size:90%;
    border: 0px solid #000000;
}

.mensajes{
    margin-top: 70px;
    margin-left: -10px;
}

.mensajes #green{
    border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    display: none;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    height: 3em;
    width: 15em;
    color: #fff;
    font-size: 1em;
    transform-origin: 50% 5em;
    background: linear-gradient(76deg,#00594c 0%, #04957d 80%);
    background: -webkit-linear-gradient(76deg,#00594c 0%, #04957d 80%);
    background: -moz-linear-gradient(76deg,#00594c 0%, #04957d 80%);
}

.mensajes #red{
    border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    margin-top: 50px;   
    display: none;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    height: 6em;
    width: 15em;
    color: #fff;
    font-size: 1em;
    transform-origin: 50% 5em;
    background: rgb(120,0,0);
    background: -moz-linear-gradient(16deg, rgba(120,0,0,1) 28%, rgba(147,0,0,1) 61%, rgba(187,0,0,1) 89%, rgba(184,0,0,1) 99%);
    background: -webkit-linear-gradient(16deg, rgba(120,0,0,1) 28%, rgba(147,0,0,1) 61%, rgba(187,0,0,1) 89%, rgba(184,0,0,1) 99%);
    background: linear-gradient(16deg, rgba(120,0,0,1) 28%, rgba(147,0,0,1) 61%, rgba(187,0,0,1) 89%, rgba(184,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780000",endColorstr="#b80000",GradientType=1);
}

.mensajes #yellow{
    border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    margin-top: 50px;
    display: none;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    height: 4em;
    width: 15em;
    background: rgb(255, 196, 0);
    color: #fff;
    font-size: 1em;
    transform-origin: 50% 5em;
    background: rgb(170,171,0);
    background: -moz-linear-gradient(16deg, rgba(170,171,0,1) 28%, rgba(175,176,0,1) 61%, rgba(203,177,0,1) 89%, rgba(231,213,0,1) 99%);
    background: -webkit-linear-gradient(16deg, rgba(170,171,0,1) 28%, rgba(175,176,0,1) 61%, rgba(203,177,0,1) 89%, rgba(231,213,0,1) 99%);
    background: linear-gradient(16deg, rgba(170,171,0,1) 28%, rgba(175,176,0,1) 61%, rgba(203,177,0,1) 89%, rgba(231,213,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aaab00",endColorstr="#e7d500",GradientType=1);
}

.mensajes #red1{
    border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    margin-top: 50px;   
    display: none;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    height: 4em;
    width: 15em;
    color: #fff;
    font-size: 1em;
    transform-origin: 50% 5em;
    background: rgb(120,0,0);
    background: -moz-linear-gradient(16deg, rgba(120,0,0,1) 28%, rgba(147,0,0,1) 61%, rgba(187,0,0,1) 89%, rgba(184,0,0,1) 99%);
    background: -webkit-linear-gradient(16deg, rgba(120,0,0,1) 28%, rgba(147,0,0,1) 61%, rgba(187,0,0,1) 89%, rgba(184,0,0,1) 99%);
    background: linear-gradient(16deg, rgba(120,0,0,1) 28%, rgba(147,0,0,1) 61%, rgba(187,0,0,1) 89%, rgba(184,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780000",endColorstr="#b80000",GradientType=1);
}


/* Animation property */
.mensajes #red, #green, #yellow, #red1 {
    animation: wiggle 3s linear infinite;
}

/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}



